<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{{path('home')}}">Blog</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            {% if app.user is null %}
                 <a class="p-2 text-dark" href="{{ path('app_login') }}">Sign In</a>
                    <a class="btn btn-outline-primary" href="{{path('app_register')}}">Sign up</a>
            {% else %}

            <a class="p-2 text-dark" href="{{path('article_index')}}">Articles</a>
            <a class="p-2 text-dark" href="{{path('category_index')}}">Categories</a>
            <a class="p-2 text-dark" href="{{path('update_profile')}}">Profile</a>
               <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Sign Out</a>
            {% endif %}
           
         
        </nav>
     
    </div>
    {% block body %}{% endblock %}
   
    {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
</body>

</html>