{% import 'extra/macro/btn.html.twig' as btn %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
     {{  btn.simple(path('article_index'), 'light','Retour') }}
    <button class="btn btn-{{ btnClass }}">{{ button_label|default('Créer') }}</button>
 </div>
{{ form_end(form) }}
